@font-face {
  font-family: productRegular;
  src: url(/assets/Fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
  font-family: productBold;
  src: url(/assets/Fonts/Product\ Sans\ Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  min-height: 100vh;
  background: crimson;
}

nav {
  width: 100%;
  height: 20vh;
  background-color: yellow;
  position: fixed;
}

.top-nav {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 3vw; /*padding : topbottom leftright*/
}

.top-nav svg {
  width: 8vw;
}

.top-nav .cnt-link {
  display: flex;
  gap: 1.5vw;
}
.top-nav .cnt-link a {
  text-decoration: none;
  color: black;
  font-family: productBold;
  font-size: 1.1vw;
}
.top-nav .right-icon {
  display: flex;
  gap: 1vw;
}
.top-nav .right-icon i {
  font-size: 1.5vw;
}
.btm-nav {
  width: 100%;
  height: 10vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 3vw;
}

#partner {
  display: flex;
  gap: 0.5vw;
  font-size: 1vw;
}

.btm-nav a {
  text-decoration: none;
  color: white;
}

.cnt-btm-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 1.2vw;
  font-family: productBold;
}
.cnt-btm-nav a {
  font-weight: 600;
  letter-spacing: 0.05vw;
}
.cnt-btm-nav a:nth-child(3) {
  color: #ffb500;
  font-size: 1.5vw;
}

.btm-nav button {
  padding: 1vw 1.8vw;
  border-radius: 5px;
  font-family: productBold;
  background-color: #ffb500;
  border: none;
  transition: all ease 0.5s;
}

.btm-nav button:hover {
  background-color: transparent;
  color: white;
  border-top: 1px solid #ffb500;
  border-bottom: 1px solid #ffb500;
  /* outline: 1px solid #ffb500; */
}
/* -----------------Part 1----------------------- */
.part-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.part-2 {
  display: flex;
  justify-content: center;
  padding-left: 35vw;
  width: 100%;
  height: 100vh;
  background-color: black;
  flex-direction: column;
  gap: 3vh;
}

.part-2 p {
  font-family: productBold;
  width: 50%;
  font-size: 1.8vw;
  font-weight: 600;
}
.cta {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1vw;
}

.cta button {
  padding: 1vw 2vw;
  background-color: #ffb500;
  border-radius: 5px;
  border: none;
}

.btn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}
.btn-cta p {
  font-size: 5vw;
  font-size: 0.8vw;
  width: 10vw;
}

.btn-cta i {
  font-size: 1.2vw;
}
